
<!-- <form action="/create-user" method="post">
    <input type="text" name="userName" >
    <button type="submit"> Enter </button>
</form> -->
<div class="container-sm">
    <form  action="/create-user" method="post" class="form-signin">
      
      <h1 class="h3 mb-3 font-weight-normal">Please Enter Your User-Name To Continue</h1>
      <label for="userName" class="sr-only" style="font-size:25px ; font-weight:600";>User Name</label>
      <input type="text" id="userName" class="form-control" placeholder="john123" name="userName" style="width:25% ; font-size: 20px;" required>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Continue</button>
      
    </form>
</div>
